@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');

:root {
    --header-height: 3.5rem;

    --gradient-color: linear-gradient(90deg,
            hsl(23, 4%, 28%) 0%,
            hsl(23, 4%, 8%) 100%);
    --white-color: hsl(0, 0%, 100%);
    --text-color: hsl(23, 4%, 60%);
    --body-color: hsl(23, 12%, 4%);
    --container-color: hsl(23, 4%, 10%);
    --logo-color: linear-gradient(#ef8eb3, #ffafcc);

    --body-font: "poppins", sans-serif;
    --biggest-font-size: 10rem;
    --h1-font-size: 1.5remrem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;

}

@media screen and(min-width: 1150px) {
    :root {
        --biggest-font-size: 25rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
}

.grid-list {
    display: grid;
    gap: 25px;
    transition: all ease 0.3s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
    background: #131313;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
button {
    font-family: var(--body-font);
    outline: none;
    border: none;
}

.profile h1 {
    color: aliceblue;
    font-size: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    padding-left: 6rem;
}

.products-container2 {
    display: none;
}

.two {
    padding-left: 0.5rem;
}

/* .container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: 1120px;
    margin-inline: 1.5rem;
} */

.main {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    overflow: hidden;
}

.nav--list {
    font-size: 1.2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

.nav--item {
    color: aliceblue;
    font-weight: 200;
    transition: color .4s;
}

.nav--item:hover {
    color: gray;
}

.log {
    border-radius: 50%;
    width: 20%;
    padding-top: 4rem;
    padding-left: 6rem;
    padding-bottom: 1rem;

}

.log img {
    border-radius: 50%;
}

.nav--toogle,
.nav--close {
    display: flex;
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
    padding-top: 2rem;
}

@media screen and (max-width: 1150px) {
    .nav--menu {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsl(23, 12%, 4%, .2);
        width: 100%;
        padding-block: 5.5rem 4.5rem;
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);
        transition: top .4s;
    }
}

.nav--list {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav--link {
    color: var(--white-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav--link:hover {
    color: var(--first-color);
}

.nav--close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.show-menu {
    top: 0;
}

.blur-header::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(23, 12%, 4%, .2);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(12px);
    top: 0;
    left: 0;
    z-index: -1;
}

.active-link {
    color: var(--first-color);
}

@media screen and (min-width: 1150px) {
    .nav {
        height: calc(var(--header-height) + 5rem);
    }

    .nav--toogle,
    .nav--close {
        display: none;
    }

    .nav--list {
        flex-direction: row;
        column-gap: 4.5rem;
        align-items: end;
        text-align: end;
        padding-left: 65rem;
        padding-top: 6rem;
        /* align-items: center; */



    }




    /* .discount {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
        gap: 1.5rem;
        margin-top: 2rem;
    }


    .overla {
        grid-template-columns: repeat(4fr 1fr);
    } */

    .products {
        max-width: 450;
        margin-left: auto;
        margin-right: auto;
        padding-left: 4rem;
        padding-right: 10rem;
        /* bottom: 2rem; */
        gap: 1.5rem;


    }

    .nav--logo {
        padding-left: 4rem;
    }

    .nav--menu {
        padding-right: 5rem;
        padding-bottom: 1rem;
    }

    .vide {
        width: 1300px;
        height: 700px;
        border-radius: 50px;


    }



    .produc-container .vide .box {
        padding-right: 10rem;
    }



    .produc {
        position: relative;
        height: 100rem;
        padding-block: 60px;
        padding-left: 4rem;
        padding-bottom: 1rem;

    }

    /* .video1 {
        padding-top: 1rem;
        width: 500px;
        height: 700px;
    } */

    .video1,
    .video3,
    .video4,
    .video6 {
        width: 440px;
        height: 500px;
        border-radius: 20px;


    }

    .video2,
    .video5 {
        width: 400px;
        height: 300px;
        border-radius: 20px;
    }



    .products-container,
    .products-container1 {
        position: relative;
        height: 100rem;
        padding-block: 60px;
        /* padding-left: 1rem; */
        /* padding-bottom: 1rem; */
        padding-right: 5rem;
    }

    .produc .products-container,
    .products-container1 {
        position: relative;
        height: 100%;
        /* padding-bottom: 1rem; */
    }

    .products-container::after,
    .products-container1::after {
        content: '';
        top: 0;
        left: 0;
        /* width: 100%; */
        height: 100%;
        position: absolute;
    }

    .products-container .video1,
    .video2,
    .video3,
    .video4,
    .video5,
    .video6,
    .products-container1 {
        object-fit: cover;
        /* width: 100%; */
    }





    .video-control {
        justify-content: center;
        color: black;
        border-radius: 50%;
        font-size: 8rem;
        width: 7rem;
        height: 7rem;
        margin: 0 auto;
        cursor: pointer;
        align-items: center;
        /* margin-bottom: 50rem; */
        position: absolute;
        top: 25%;
        left: 48%;
        transform: translate(-50%, -50%);
        text-align: center;

    }





    .produc .produc-container {
        position: relative;
        height: 100%;
    }

    /* .produc .produc-container::after {
    content: '';
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%;
    position: absolute;
} */
    */ .produc .vide {
        object-fit: cover;
        /* width: 100%; */
    }

    .gallery-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }



    .gallery-image {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
    }

    .gallery-item:nth-child(3) {
        grid-area: 1/ 2/3/3;
    }

    /* .gallery-image .video {
    width: 400px;
    height: 500px;
    object-fit: cover;
} */


    .social {
        font-size: 2rem;
        padding-top: 30rem;
        padding-bottom: 1rem;
        text-align: center;
        gap: 5rem;
        cursor: pointer;
    }



    .social .bx {
        color: white;
        gap: 4rem;
        cursor: pointer;
        transition: color .4s;
    }

    .produc {
        padding-bottom: 1rem;
    }

    .copyright p {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .bx:hover {
        color: gray;
    }









    .products-container {
        display: grid;
        /* gap: 5rem; */
        grid-template-columns: repeat(auto-fit, minmax(360px, auto));
        padding-top: 1rem;
        /* padding-right: 3rem; */


    }

    .product {
        /* max-width: 968px; */
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        /* gap: 6rem; */
    }



    .products-container1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, auto));
        /* gap: 1rem; */
        margin-top: 0.2rem;
        padding-top: 0.2rem;
        padding-left: 1rem;
        /* gap: 6rem; */
    }

    .content2 {
        position: absolute;
        bottom: 79rem;
        left: 35rem;
    }

    .content4 {
        position: absolute;
        bottom: 67rem;
        left: 60rem;
    }

    .content10 {
        position: absolute;
        left: 35rem;
        bottom: 60rem;
    }

    .content3 {
        position: absolute;
        bottom: 36rem;
        left: 60rem;
    }

    .content5 {
        left: 7rem;
        position: absolute;
        bottom: 35rem;
    }

    .content6 {
        position: absolute;
        bottom: 105rem;
        left: 35rem;
    }

    .content8 {
        position: absolute;
        top: 29rem;
        left: 67rem;
    }







    .content7 {
        position: absolute;
        bottom: 42rem;
        left: 35rem;
    }

    .content1 {
        position: absolute;
        bottom: 66rem;
        left: 7rem;
    }

    .cat {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .cat a {
        color: black;
    }

    .box a {
        color: black;
    }

    /* @media screen and (min-width: 360px) {
    .video {
        width: 10rem;
    }


}

@media screen and (min-width: 320px) {
    .products-container {
        padding-top: 6rem;

    }

    .nav--logo {
        padding-left: 1rem;
    }

    .nav--toogle {
        padding-right: 1rem;
    }

    .video {
        width: 20rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content2 {
        position: absolute;
        left: 2rem;
        top: 13rem;
    }

    .content3 {
        top: 24rem;
        left: 2rem;
        position: absolute;
    }

    .content4 {
        position: absolute;
        top: 44rem;
        left: 2rem;
    }

    .content1 {
        position: absolute;
        top: 34rem;
        left: 2rem;
    }

    .content5 {
        position: absolute;
        top: 55rem;
        left: 2rem;

    }

    .content6 {
        position: absolute;
        top: 65rem;
        left: 2rem;

    }

    .content7 {
        position: absolute;
        top: 75rem;
        left: 2rem;
    }

    .content8 {
        position: absolute;
        top: 86rem;
        left: 2rem;
    }
} */

    .me {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .profile h1 {
        font-size: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }

    .ri-menu-line {
        padding-left: 17rem;
    }

    .log {
        width: 5rem;
        padding-left: 1rem;
        padding-top: 1rem;
    }


    .vide {
        display: none;
    }

    .video2,
    .video1,
    .video3,
    .video4,
    .video5,
    .video6 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: 318px;
        border-radius: 20px;
    }

    .two {
        padding-left: 0.2rem;
    }

    .footer--social {
        color: white;
        padding-top: 2rem;
        padding-left: 0.5rem;
        text-align: center;
        font-size: 1rem
    }

    .content1,
    .content2,
    .content3,
    .content4,
    .content5 {
        text-align: center;
        color: white;

    }

    .content10 {
        padding-top: 20rem;
    }

    /* .content5 {
        padding-top: 5rem;
    } */





}

@media screen and (max-width: 350px) {
    .profile h1 {
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }

    .ri-menu-line {
        padding-left: 19rem;
    }

    .log {
        width: 5rem;
        padding-left: 0.5rem;
        padding-top: 1rem;
    }

    .vide {
        display: none;
    }

    .video1,
    .video2,
    .video3,
    .video4,
    .video5,
    .video6 {
        width: 350px;
        border-radius: 20px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .two {
        padding-left: 0.2rem;
    }

    .footer--social {
        text-align: center;
        padding-left: 0.5rem;
        color: white;
        padding-top: 2rem;
    }
}

@media screen and (max-width: 370px) {
    .profile h1 {
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }

    .ri-menu-line {
        padding-left: 19rem;
    }

    .log {
        width: 5rem;
        padding-left: 0.5rem;
        padding-top: 1rem;
    }

    .vide {
        display: none;
    }

    .video1,
    .video2,
    .video3,
    .video4,
    .video5,
    .video6 {
        width: 358px;
        border-radius: 20px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .two {
        padding-left: 0.2rem;
    }

    .footer--social {
        text-align: center;
        padding-left: 0.5rem;
        color: white;
        padding-top: 2rem;
    }
}


@media screen and (max-width: 390px) {
    .profile h1 {
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }

    .ri-menu-line {
        padding-left: 20rem;
    }

    .log {
        width: 5rem;
        padding-left: 0.5rem;
        padding-top: 1rem;
    }

    .vide {
        display: none;
    }

    .video1,
    .video2,
    .video3,
    .video4,
    .video5,
    .video6 {
        width: 370px;
        border-radius: 20px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .two {
        padding-left: 0.2rem;
    }

    .footer--social {
        text-align: center;
        padding-left: 0.5rem;
        color: white;
        padding-top: 2rem;
    }
}

@media (max-width: 420px) {
    .profile h1 {
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }

    .ri-menu-line {
        padding-left: 23rem;
    }

    .log {
        width: 5rem;
        padding-left: 0.5rem;
        padding-top: 1rem;
    }

    .vide {
        display: none;
    }

    .video1,
    .video2,
    .video3,
    .video4,
    .video5,
    .video6 {
        width: 410px;
        border-radius: 20px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .two {
        padding-left: 0.2rem;
    }

    .footer--social {
        text-align: center;
        padding-left: 0.5rem;
        color: white;
        padding-top: 2rem;
    }
}

@media (max-width: 620px) {
    .profile h1 {
        font-size: 1.5rem;
        padding-left: 0.5rem;
    }

    .ri-menu-line {
        padding-left: 30rem;
    }

    .log {
        width: 5rem;
        padding-left: 0.5rem;
        padding-top: 1rem;
    }

    .vide {
        display: none;
    }

    .video1,
    .video2,
    .video3,
    .video4,
    .video5,
    .video6 {
        width: 510px;
        border-radius: 20px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .two {
        padding-left: 0.2rem;
    }

    .footer--social {
        text-align: center;
        padding-left: 0.5rem;
        color: white;
        padding-top: 2rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .profile h1 {
        font-size: 1.2rem;
        padding-left: 0.5rem;
        padding-bottom: 2rem;
    }

    .ri-menu-line {
        padding-left: 35rem;
    }

    .log {
        width: 5rem;
        padding-left: 0.5rem;
        padding-top: 1rem;
    }

    .vide {
        border-radius: 20px;
        padding-right: 1rem;
        left: auto;
        right: auto;
        display: none;

    }

    .video1,
    .video2,

    .video3,
    .video4,
    .video5,
    .video6 {
        width: 620px;
        border-radius: 20px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }



    .two {
        padding-left: 0.2rem;
    }

    .footer--social {
        text-align: center;
        padding-left: 0.5rem;
        color: white;
        padding-top: 2rem;
    }
}

@media screen and (max-width: 750px) {
    .profile h1 {
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }

    .ri-menu-line {
        padding-left: 19rem;
    }

    .log {
        width: 5rem;
        padding-left: 0.5rem;
        padding-top: 1rem;
    }



    .video1,
    .video2,
    .video3,
    .video4,
    .video5,
    .video6 {
        border-radius: 20px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
        width: 400px;
    }

    .two {
        padding-left: 0.2rem;
    }

    .footer--social {
        text-align: center;
        padding-left: 0.5rem;
        color: white;
        padding-top: 2rem;
    }
}